$background: url("../img/m-h-night.jpg") center center no-repeat/cover;
//fonts
$SansPro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;

//button color

$btnColor: #e3ac00;
$gradient: #953050;

//card

$cardBacground: #3b3f50;

//line
$lineColor: #ff4e33;

//body
$bodyBg: #000;

$textColor: #fff;

$footerBg: $cardBacground;