$background: url("../img/m-h-day.jpg") center no-repeat/cover;
//fonts
$SansPro: 'Source Sans Pro', sans-serif;
$Hind: 'Hind', sans-serif;
$Fresca: 'Fresca', sans-serif;

//button color

$btnColor: #699900;
$gradient: #2f5dd0;
//card

$cardBacground: #21232e;
//line
$lineColor: #14a0c7;

//body
$bodyBg: #fff;

$textColor: #000;

$footerBg: $cardBacground;